{% extends "level2Template.html" %}


{% block left %}

	<div class="span3 bs-docs-sidebar">
		<ul class="nav nav-list bs-docs-sidenav affix">
			<li class="active"><a href="#dropdowns"><i class="icon-chevron-right"></i> Inicio</a></li>
			<li class=""><a href="#dropdowns"><i class="icon-chevron-right"></i> Administradores Master</a></li>
			<li class=""><a href="#dropdowns"><i class="icon-chevron-right"></i> Administradores</a></li>
			<li class=""><a href="#buttonGroups"><i class="icon-chevron-right"></i> Concecionarios</a></li>
			<li class=""><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Choferes</a></li>
			<li class=""><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> Unidades de Transporte</a></li>
		</ul>
	</div>

{% endblock %}


{% block content %}
content
{% endblock %}



{% block right %}
right
{% endblock %}