{% extends "level1Template.html" %}


{% block head4 %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery_jquery_ui/jquery-1.9.0.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery_jquery_ui/jquery-ui-1.10.0.min.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	
	<script type="text/javascript">
		/*
		$(function() {
			alert('Hola a todos 2');
			createMenu();
		});*/
	</script>
{% endblock %}


{% block top %}
	<!-- Navbar
	================================================== -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="#">SATP</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="{{ topMenu.home.class }}">
							<a href="./index.html">Home</a>
						</li>
						<li class="{{ topMenu.entidades.class }}">
							<a href="./entidades.html">Entidades</a>
						</li>
						<li class="{{ topMenu.evaluacion.class }}">
							<a href="./evaluacion.html">Evaluaci&oacute;n</a>
						</li>
						<li class="{{ topMenu.reportes.class }}">
							<a href="./reportes.html">Reportes</a>
						</li>
					</ul>
					<!--
					<div id="twitter-share" class="pull-right">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://addyosmani.github.com/jquery-ui-bootstrap/" data-text="A new jQuery UI Bootstrap theme" data-via="addyosmani" data-size="large">Tweet</a>
						<script>
							/*
							!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
							*/
						</script>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block left %}
	<!--
	<ul id="menu" >
		<li>
			<a href="#">Entidades</a>
			<ul>
				<li><a href="#">Administradores</a></li>
				<li><a href="#">Concecionarios</a></li>
				<li><a href="#">Choferes</a></li>
				<li><a href="#">Unidades de Transporte</a></li>
			</ul>
		</li>
		<li><a href="#">Evaluación</a></li>
		<li><a href="#">Reportes</a></li>
	</ul>
	-->
{% endblock %}