<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	{% block head1 %}
		<!-- head1 -->
		<link href="{{ STATIC_URL }}css/normalize.css"
			rel="stylesheet" type="text/css" />

		<link href="{{ STATIC_URL }}css/sunny/jquery-ui-1.10.0.sunny.min.css"
			rel="stylesheet" type="text/css" />
	{% endblock %}

	{% block head2 %}
		<!-- head2 -->
		<!--<link href="{{ STATIC_URL }}css/cssLayout.css"
			rel="stylesheet" type="text/css" />
-->
		<link href="{{ STATIC_URL }}css/default.css"
			rel="stylesheet" type="text/css" />
	{% endblock %}

	{% block head3 %}
		<!-- head3 -->
		<link type="text/css" href="{{ STATIC_URL }}css/assets/bootstrap.min.css" rel="stylesheet">
		<!--
		<link type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
	-->
		<link type="text/css" href="{{ STATIC_URL }}css/assets/font-awesome.min.css" rel="stylesheet" />
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assets/font-awesome-ie7.min.css">
		<![endif]-->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery.ui.1.10.0.ie.css"/>
		<![endif]-->
		<link href="{{ STATIC_URL }}css/assets/docs.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}js/assets/google-code-prettify/prettify.css" rel="stylesheet">
	{% endblock %}

	{% block head4 %}
		<!-- head4 -->
	{% endblock %}

	{% block head5 %}
		<!-- head5 -->
	{% endblock %}

	{% block head6 %}
		<!-- head6 -->
	{% endblock %}

	{% block head7 %}
		<!-- head7 -->
	{% endblock %}

	{% block head8 %}
		<!-- head8 -->
	{% endblock %}

	{% block head9 %}
		<!-- head9 -->
	{% endblock %}


		<!--
		<link href="/themes/#{confController.themeName}/skin.css" type="text/css" />
		-->
	<title>SATP System</title>
</head>

<body>

	<div id="top">
	
		{% block top %}
		<!-- top -->
		{% endblock %}
		
		<!--
		<p:menubar>
			<p:submenu label="Administrar Entidades">
				<p:menuitem value="Usuarios" url="#" />
				<p:menuitem value="Choferes" url="/vista/pages/chofer/listaChoferes.xhtml" />
				<p:menuitem value="Concecionarios" url="#" />
				<p:menuitem value="Administradores" url="#" />
				<p:menuitem value="Unidades de Transporte" url="#" />
			</p:submenu>
			<p:submenu label="Evaluación">
				<p:menuitem value="Califica Chofer" url="#" />
				<p:menuitem value="Califica Concecionario" url="#" />
				<p:menuitem value="Califica Administrador" url="#" />
				<p:menuitem value="Califica Unidad de Transporte" url="#" />
			</p:submenu>
			<p:submenu label="Reportes">
				<p:menuitem value="Licencias" url="#" />
				<p:menuitem value="Unidades" url="#" />
				<p:menuitem value="Choferes" url="#" />
			</p:submenu>
		</p:menubar>
		-->
	</div>

	<div class="container">
		<div id="left" class="span3 bs-docs-sidebar">
			{% block left %}
			<!-- left -->
			{% endblock %}
		</div>
		<div class="span9">
			<section id="right">
				{% block right %}
				<!-- right -->
				{% endblock %}
					
			</section>
			
			<section id="content" class="right_content">
				{% block content %}
				<!-- content -->
				{% endblock %}
			</section>

			
		</div>
	</div>

	<div id="bottom">
		{% block bottom %}
		<!-- bottom -->
		{% endblock %}
	</div>

</body>

</html>
