<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	{% block head1 %}
		<!-- head1 -->
		<link href="{{ STATIC_URL }}css/normalize.css"
			rel="stylesheet" type="text/css" />

		<link href="{{ STATIC_URL }}css/sunny/jquery-ui-1.10.0.sunny.min.css"
			rel="stylesheet" type="text/css" />
	{% endblock %}

	{% block head2 %}
		<!-- head2 -->
		<!--<link href="{{ STATIC_URL }}css/cssLayout.css"
			rel="stylesheet" type="text/css" />
-->
		<link href="{{ STATIC_URL }}css/default.css"
			rel="stylesheet" type="text/css" />
	{% endblock %}

	{% block head3 %}
		<!-- head3 -->
		<link type="text/css" href="{{ STATIC_URL }}css/assets/bootstrap.min.css" rel="stylesheet">
		<!--
		<link type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
	-->
		<link type="text/css" href="{{ STATIC_URL }}css/assets/font-awesome.min.css" rel="stylesheet" />
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/assets/font-awesome-ie7.min.css">
		<![endif]-->
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom-theme/jquery.ui.1.10.0.ie.css"/>
		<![endif]-->
		<link href="{{ STATIC_URL }}css/assets/docs.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}js/assets/google-code-prettify/prettify.css" rel="stylesheet">
	{% endblock %}

	{% block head4 %}
		<!-- head4 -->
	{% endblock %}

	{% block head5 %}
		<!-- head5 -->
	{% endblock %}

	{% block head6 %}
		<!-- head6 -->
	{% endblock %}

	{% block head7 %}
		<!-- head7 -->
	{% endblock %}

	{% block head8 %}
		<!-- head8 -->
	{% endblock %}

	{% block head9 %}
		<!-- head9 -->
	{% endblock %}


		<!--
		<link href="/themes/#{confController.themeName}/skin.css" type="text/css" />
		-->
	<title>SATP System</title>
</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
			{% block top %}
			<!--
			<p:menubar>
				<p:submenu label="Administrar Entidades">
					<p:menuitem value="Usuarios" url="#" />
					<p:menuitem value="Choferes" url="/vista/pages/chofer/listaChoferes.xhtml" />
					<p:menuitem value="Concecionarios" url="#" />
					<p:menuitem value="Administradores" url="#" />
					<p:menuitem value="Unidades de Transporte" url="#" />
				</p:submenu>
				<p:submenu label="Evaluación">
					<p:menuitem value="Califica Chofer" url="#" />
					<p:menuitem value="Califica Concecionario" url="#" />
					<p:menuitem value="Califica Administrador" url="#" />
					<p:menuitem value="Califica Unidad de Transporte" url="#" />
				</p:submenu>
				<p:submenu label="Reportes">
					<p:menuitem value="Licencias" url="#" />
					<p:menuitem value="Unidades" url="#" />
					<p:menuitem value="Choferes" url="#" />
				</p:submenu>
			</p:menubar>
			-->
			{% endblock %}
			</div>
		</div>
	</div>
	
	<!--
	<header id="overview" class="jumbotron subhead">

	</header>-->

	

	<div class="container">
		<div class="row">

			<div class="span3 bs-docs-sidebar">
				{% block left %}
				<!-- left -->
				{% endblock %}
			</div>

			<div class="span9">
				<section id="right" class="pull-right">
					{% block right %}
					<!-- right -->
					{% endblock %}
				</section>
				
				<section id="content1" class="right_content">
					{% block content %}
					<!-- content -->
					{% endblock %}
				</section>

				<section id="content2" class="right_content">
					{% block content2 %}
					<!-- content -->
					{% endblock %}
				</section>
			</div>

		</div>
	</div>

	<!-- Footer
	================================================== -->
	<footer class="footer pull-bottom">
		<div class="container">
			<div class="row">
				{% block bottom %}
					<!-- bottom -->
					<!--
					<div class="span3">
						<h3><span class="icon-envelope"></span> Contact</h3>
						<ul class="icons">
							<li><i class="icon-link"></i> Blog: <a class="targetblank" href="http://addyosmani.com/blog/">Addy Osmani</a></li>
							<li><i class="icon-twitter"></i> Twitter: <a class="targetblank" href="https://twitter.com/addyosmani">@addyosmani</a></li>
							<li><i class="icon-github"></i> Github: <a class="targetblank" href="https://github.com/addyosmani/jquery-ui-bootstrap/issues?state=open">Issues</a></li>
						</ul>
					</div>
					<div class="span9">
						<div class="span4">
							<h3><span class="icon-group"></span> Team</h3>
							<ul class="unstyled">
								<li>Lead Product Developer : <a class="targetblank" href="http://addyosmani.com/blog/" hreflang="en">Addy Osmani</a></li>
								<li>Co-maintainer : <a class="targetblank" href="http://blog.aurelien-gerits.be" hreflang="fr">Aurélien Gérits</a></li>
							</ul>
						</div>
						<div class="span4">
							<h3><span class="icon-lightbulb"></span> Credits</h3>
							<ul class="unstyled">
								<li>jQuery UI Bootstrap &copy; <strong class="text-info">Addy Osmani</strong> 2012 - 2013.</li>
								<li>Twitter Bootstrap &copy; <strong class="text-info">Twitter</strong> 2012 - 2013</li>
							</ul>
						</div>
					</div>
					-->
				{% endblock %}
			</div>
		</div>
	</footer>

</body>

</html>
